@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,700&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #22262A;
}
a:link, 
a:visited {
    color: #ED462F;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
}

a:hover,
a:active {
    color: white;
    background-color: #ED462F;
    box-shadow: 0 1rem 2rem rgba(black, .4);
    transform: rotate(5deg) scale(1.2);
    padding: 2px;
}


.jumbotron {
    background-color: #151515;
}
.header-main-title {
    color: #fff;
}
.character-search-box, .search-character-button {
    border-radius: 0;
}
.search-character-button {
    background-color: #ED462F;
}
#characterMainTitle, #comicMainTitle {
    color: #FFFFFF;
}
.card {
    border:none;
    border-radius: 2px;
}
